fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
python-multipart
pydantic[email]
websockets
httpx
pytest
edge-tts
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
alembic
bcrypt==3.2.0
